<div class=" d-flex justify-content-center border-top pt-2 my-2">
    <input class="row" type="text" id="poh-text" disabled style="text-align: center">
</div>

<div class="d-flex justify-content-center">
    <button class="btn d-flex row w-50 justify-content-center rounded-circle" href=# id="click-button"><img src="./assets/button.png" alt="manatee-button"></button>
</div>

<br>

<div class="mt-2 row">
    <div class="container mx-2 col-4">
        <button class="btn buy-button" id="1"><img src="./assets/typewriter-manatee.png" width="110px" alt=""></button>
        <p id="cost-accountant" class="d-flex justify-content-center">10</p>
    </div>

    <div class="container mx-2 col-4">
        <button id="2" class="btn buy-button"><img src="./assets/policemanatee.png" width="110px" alt=""></button>
        <p id="cost-policeman" class="d-flex justify-content-center">1000</p>
    </div>
</div>

<div>
    <div>
        <p>Manatee Level:</p>
        <p id="manatee-level"></p>
    </div>
    <div>
        <p>Lifetime Score:</p>
        <p id="lifetime-points"></p>
    </div>
</div>

<div>
    <button class="btn" id="save-button">Save</button>
    <a href="/home" class="d-flex align-items-end justify-content-center mt-3">Home</a>
</div>
<div>
    <a href="https://www.savethemanatee.org/" class="d-flex align-items-end justify-content-center">Donate to Save the Manatees</a>
</div>
<script src="/js/dashboard.js"></script>