<h1>Dashboard</h1>
<a href=# onclick="add()"><img src="assets/button.png" alt="manatee-button"></a>
<br>
Manatee Points:
<input type="text" id="text" disabled style="text-align: center">
<script>
    let manateePoints = 0
    function add() {
        manateePoints=manateePoints+1
        document.querySelector("#text").value = manateePoints;
    }
</script>
<br>