<h1>Welcome to the Mantaee Tank!</h1>
<h1>PLAY!</h1>

{{!-- Leaderboard container --}}
<div class="container" id="leaderboard"></div>

<h3>About</h3>

<script type="text/javascript" src="/js/leaderboard.js"></script>