<div class="container" id="leaderboard"></div>




    <div class="container text-center text-white">
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-3">Welcome to the Manatee Tank!</h1>
                <a href="/login">
                    <p class="lead mb-0 display-1">PLAY!</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto bg-light rounded shadow">
                <div class="table-responsive">
                    <table class="table table-fixed text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="col-6">Username</th>
                                <th scope="col" class="col-6">Lifetime Points</th>
                            </tr>
                        </thead>
                        <tbody id="leaderboard-content" class="text-dark">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
        <a href="/about">
            <p class="lead mb-0 display-6">About</p>
        </a>
    </div>
<script type="text/javascript" src="/js/leaderboard.js"></script>