<div class="container" id="leaderboard"></div>




<div class="container text-center text-white">
    <div class="row pt-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-3">Welcome to the Manatee Tank!</h1>
            <a href="/login">
                <p class="lead mb-0 display-1">PLAY!</p>
            </a>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto rounded shadow" id="ldrbrd">
            <div class="table-responsive">
                <table class="table table-fixed text-center">
                    <thead id="lb-header">
                        <tr>
                            <th scope="col" class="col-6">Username</th>
                            <th scope="col" class="col-6">Lifetime Points</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-content" class="text-dark">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 mx-auto text-center">
    <a href="#" id="myBtn">
        <p class="lead mb-0 display-6">About</p>
    </a>
</div>

<!-- The Modal -->
<div id="myModal" class="modal-stuff">

    <!-- Modal content -->
    <div class="modal-stuff-content">
        <span class="stuff-close">&times;</span>
        <h3>Meet the Devs!</h3>
        <hr>
        <hr>

        <div class="d-flex flex-row justify-content-between">
            <div>
                <h5>Jonathan Newman</h5>
                <p>Project Manager/Back-End Developer</p>
                <p><a href="https://github.com/specsnstats">GitHub: specsnstats</a></p>
            </div>
            <img src="/assets/jon_cp.jpg" width="70px" height="100px" alt="Paige Olsen Profile Pic">
        </div>
<hr>
        <div class="d-flex flex-row justify-content-between">
            
            <div>
                <h5>Paige Olsen</h5>
                <p>GitHub Master/Back-End Developer</p>
                <p><a href="https://github.com/POlsen-92">GitHub: POlsen-92</a></p>
            </div>
                <img src="/assets/paige_cp.jpg" width="70px" height="80px"alt="Paige Olsen Profile Pic">
        </div>
<hr>
        <div class="d-flex flex-row justify-content-between">
            <div>
                <h5>Chloe Harris</h5>
                <p>Front-End Developer: Design</p>
                <p><a href="https://github.com/chloeharris1">GitHub: chloeharris1</a></p>
            </div>
            <img src="/assets/chloe_cp.jpg" width="70px" height="70px"alt="Paige Olsen Profile Pic">
        </div>
<hr>
        <div class="d-flex flex-row justify-content-between">
            <div>
                <h5>Jorge Márquez Barragán</h5>
                <p>Front-End Developer: Javascript</p>
                <p><a href="https://github.com/jmarq019">GitHub: jmarq019</a></p>
            </div>
            <img src="/assets/jorge_cp.jpg" width="100px" height="70px"alt="Paige Olsen Profile Pic">
        </div>
<hr>
        

    </div>

</div>

<script type="text/javascript" src="/js/leaderboard.js"></script>