<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card">
                <h3 class="card-header">Login</h3>
                <form id="login-form" class="card-body">
                    <input id="username-login" type="text" placeholder="Username" autofocus="true" class="form-input" />
                    <br>
                    <input id="password-login" type="password" placeholder="Password" autofocus="true"
                        class="form-input" />
                    <br>
                    <button type="button" class="btn btn-info">Login</button>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 d-flex justify-content-center">
                <div class="card">
                    <h3 class="card-header">Create An Account</h3>
                    <form id="signup-form" class="card-body">
                        <input id="username-create" type="text" placeholder="Username" autofocus="true"
                            class="form-input" />
                        <br>
                        <input id="password-create" type="password" placeholder="Password" autofocus="true"
                            class="form-input" />
                        <br>
                        <button type="button" class="btn btn-info">Start Manateeing!</button>
                        <script src="/login.js"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>
