* {
    font-family: 'Chicle', cursive;
    color: #ff33cc;
}

body {
    background-color: transparent;
}

.manatee-button {
    /* border-color: #FFB6C1; */
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1
}

img:active {
    transform: scale(1.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


/* The sidebar menu */

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0px;
    background-color: #050A30;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 40px;
    /* Place content 40px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar a {
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ff33cc;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #B1D4E0;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #050A30;
    color: #ff33cc;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #B1D4E0;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}


/* Settings CSS */

#settings h1 {
    /* margin-top: 15px; */
    margin-top: 5px;
    margin-left: 5px;
    font-size: 120px;
}

#settings a {
    text-decoration: none;
    color: white
}

#settings-choices {
    /* width: 80%; */
    width: 100%;
    margin: auto;
}

#settings .closebtn {
    position: relative;
    top: 5px;
    margin: 2px;
    font-size: 25px;
}

.table-fixed tbody {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead>tr>th {
    float: left;
    position: relative;
}

#play {
    color: #ff33cc;
}

#signup-text {
    font-size: 100px;
}

#login-text {
    font-size: 100px;
}


/* MODAL */


/* The Modal (background) */

.modal-stuff {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-stuff-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.stuff-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.stuff-close:hover,
.stuff-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#lb-header {
    font-size: 24px;
}

#dashboard-stats {
    font-size: 20px;
}